@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 60rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

h5 {
  font-weight: 700;
}

section {
  margin-top: 5rem;
  padding-top: 2rem;
  background-color: white;
}

.tech-list ul li {
  list-style-type: disc;
  margin-left: 18px;
}
